* {
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
    margin: 0;
}

h1,
h2,
h3,
p,
ul,
ol {
    margin-top: 0;
}

img {
    width: 100%;
}

.section {
    padding: 100px 0;
}

.wrap-90 {
    width: 90%;
    margin: 0 auto;
}

.wrap-80 {
    width: 80%;
    margin: 0 auto;
}

.wrap-70 {
    width: 70%;
    margin: 0 auto;
}

.wrap-60 {
    width: 60%;
    margin: 0 auto;
}

.wrap-40 {
    width: 40%;
    margin: 0 auto;
}

.wrap-25 {
    width: 25%;
    margin: 0 auto;
}

.main-title {
    font-size: 42px;
    text-transform: uppercase;
}

.red {
    background-color: rgb(255, 84, 68);
}

.purple {
    background-color: rgb(170, 45, 182);
}

.cyan {
    background-color: rgb(30, 194, 164);
}

.blue {
    background-color: rgb(39, 139, 224);
}

h1,
h2,
h4 {
    margin-bottom: 30px;
}

/* ----------------------------------------------- */
/* nav-bar */
nav .wrap-90 {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: black;
    flex: 0 0 auto;
}

nav ul {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    flex: 0 1 auto;
}

nav li:not(:last-child) {
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    color: black;
    display: block;
}

nav .wrap-90 ul li:last-child {
    font-size: 30px;
}

nav ul .menu-dropdown {
    position: relative;
}

nav ul .menu-dropdown .choice-dropdown {
    display: none;
    position: absolute;
}

.button-menu i {
    margin-left: 5px;
}

nav ul .menu-dropdown:hover .choice-dropdown {
    display: block;
    background-color: #fff;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
    padding: 10px;
    text-align: center;
}

nav ul .menu-dropdown:hover .choice-dropdown a {
    padding: 5px 10px;
}

/* intro-part */
.intro-part {
    background-color: rgb(246, 246, 246);
    padding: 20px 0;
    min-height: calc(100vh - 82px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-part .wrap-60 p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
}

.intro-part a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding: 20px 40px;
    background-color: rgb(48, 47, 47);
    display: inline-block;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
}

.intro-part .wrap-60:last-child {
    margin-bottom: 0;
}

/* statistics */
.box {
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    color: white;
    border-radius: 6px;
    flex-basis: 25%;
}

.box .main-title {
    margin-bottom: 10px;
}

.section.wrap-80 {
    display: flex;
}

.section.wrap-80 > *:not(:last-child) {
    margin-right: 30px;
}

/* demo */
.demo {
    background-color: rgb(246, 246, 246);
    text-align: center;
}

.buttons button {
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}

.buttons button:not(.active) {
    background-color: rgb(224, 224, 224);
}

.buttons button:not(.active):hover {
    background-color: rgb(48, 47, 47);
    color: white;
    transition: 0.2s;
}

.buttons button.active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.image {
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
    flex-basis: 33.33%;
    margin-right: 30px;
}

.image:hover {
    border: 2px solid black;
    transition: 0.1s;
}

.demo h3 {
    margin: 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.first-row,
.second-row {
    display: flex;
}

.cards .wrap-60 > .first-row {
    margin-bottom: 30px;
}

.cards.section .wrap-60 {
    padding-bottom: 0;
}

/* features */
.features {
    text-align: center;
}

.features .section {
    padding-bottom: 50px;
}

.features p {
    font-weight: 700;
    margin-bottom: 50px;
}

.features li {
    text-align: left;
    list-style-image: url(./images/arrow.png);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.features .list-items ul li:not(:last-child) {
    margin-bottom: 20px;
}

.list-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.features .list-items ul {
    flex-basis: 33.33%;
    padding-left: 0;
}

.features .section:last-child {
    margin-bottom: 0;
}

.features.wrap-70 .section hr {
    width: 80px;
    color: rgb(246, 246, 246);
    margin: 0 auto;
}

/* social */
.social {
    background-color: #464646;
    color: white;
    text-align: center;
}

.social h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    flex: 0 1 auto;
}

.social.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 auto;
}

.social i {
    font-size: 35px;
    flex: 0 1 auto;
}

.social i:hover {
    color: rgb(45, 45, 45);
    transition: 0.3s;
}

/* footer */
footer {
    background-color: black;
}

footer .wrap-90 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .wrap-90 p {
    color: white;
    font-size: 12px;
    flex: 0 1 auto;
}

/* --------------responsive desgin---------------- */

/* ***any device over 425px*** */
@media (min-width: 426px) {
    nav .wrap-90 ul li.burger-menu {
        display: none;
    }
}

/* ***mobile version 425px and less*** */
@media (max-width: 425px) {
    nav .wrap-90 ul li:not(:last-child) {
        display: none;
    }

    .section.wrap-80 {
        width: 60%;
        display: block;
    }

    .section.wrap-80 > *:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .main-title {
        font-size: 31px;
    }

    .demo.section .wrap-60 {
        width: 80%;
    }

    button {
        padding: 9px 18px;
        font-size: 15px;
    }

    .buttons button:last-child {
        margin-top: 10px;
    }

    .first-row,
    .second-row {
        flex-direction: column;
    }

    .image {
        margin-right: 0;
    }

    .first-row .image:not(:last-child),
    .second-row .image:not(:last-child) {
        margin-bottom: 30px;
    }

    .wrap-25 {
        width: 80%;
        margin: 0 auto;
    }

    .social i {
        font-size: 25px;
    }

    footer .wrap-90 {
        width: 95%;
    }

    footer .wrap-90 p {
        font-size: 10px;
    }

    .features.wrap-70 {
        width: 80%;
    }

    .features .section p {
        text-align: left;
    }
    .features.wrap-70 .section hr {
        width: 50px;
    }

    .list-items ul {
        flex-basis: 50%;
    }

    .list-items {
        justify-content: space-around;
        margin-bottom: 100px;
    }

    .list-items ul:nth-child(3) {
        display: none;
    }

    .features li {
        font-size: 16px;
        line-height: 2;
    }
}
